## 1. Load Data and import Dependencies

In [10]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from matplotlib import cm
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC

In [11]:
df=pd.read_csv("Crime Prediction in Chicago_Dataset.csv")

In [12]:
df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12592454,JF113025,1/14/2022 15:55,067XX S MORGAN ST,2826,OTHER OFFENSE,HARASSMENT BY ELECTRONIC MEANS,RESIDENCE,False,True,...,16.0,68,26,1170805.0,1860170.0,2022,9/14/2023 15:41,41.771782,-87.649437,"(41.771782439, -87.649436929)"
1,12785595,JF346553,8/5/2022 21:00,072XX S UNIVERSITY AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,APARTMENT,True,False,...,5.0,69,17,1185135.0,1857211.0,2022,9/14/2023 15:41,41.763338,-87.597001,"(41.763337967, -87.597001131)"
2,12808281,JF373517,8/14/2022 14:00,055XX W ARDMORE AVE,1562,SEX OFFENSE,AGGRAVATED CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,39.0,11,17,1138383.0,1937953.0,2022,9/14/2023 15:41,41.985875,-87.766404,"(41.985875279, -87.766403857)"
3,12888104,JF469015,11/10/2022 3:47,072XX S MAY ST,1477,WEAPONS VIOLATION,RECKLESS FIREARM DISCHARGE,STREET,False,False,...,17.0,68,15,1169903.0,1856822.0,2022,9/14/2023 15:41,41.762615,-87.652840,"(41.76261474, -87.652840463)"
4,13209277,JG422539,8/15/2022 9:00,0000X W JACKSON BLVD,810,THEFT,OVER $500,COMMERCIAL / BUSINESS OFFICE,False,False,...,4.0,32,6,NaN,NaN,2022,9/14/2023 15:43,NaN,NaN,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239558 entries, 0 to 239557
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    239558 non-null  int64
 1   Case Number           239558 non-null  object
 2   Date                  239558 non-null  object
 3   Block                 239558 non-null  object
 4   IUCR                  239558 non-null  object
 5   Primary Type          239558 non-null  object
 6   Description           239558 non-null  object
 7   Location Description  238593 non-null  object
 8   Arrest                239558 non-null  bool
 9   Domestic              239558 non-null  bool
 10  Beat                  239558 non-null  int64
 11  District              239558 non-null  int64
 12  Ward                  239548 non-null  float64
 13  Community Area        239558 non-null  int64
 14  FBI Code              239558 non-null  object
 15  X Coordinate          234891 non-null  float64
 16  Y Coordinate          234891 non-null  float64
 17  Year                  239558 non-null  int64
 18  Updated On            239558 non-null  object
 19  Latitude              234891 non-null  float64
 20  Longitude             234891 non-null  float64
 21  Location              234891 non-null  object
dtypes: bool(2), float64(5), int64(5), object(10)
memory usage: 37.0+ MB

In [14]:
df.isnull().sum()

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description     965
Arrest                     0
Domestic                   0
Beat                       0
District                   0
Ward                      10
Community Area             0
FBI Code                   0
X Coordinate            4667
Y Coordinate            4667
Year                       0
Updated On                 0
Latitude                4667
Longitude               4667
Location                4667
dtype: int64

In [15]:
df.shape

(239558, 22)

In [16]:
# Extract hour,Day,month
df['Date'] = pd.to_datetime(df['Date'])
df['hour'] = df['Date'].dt.hour
df['day_of_week'] = df['Date'].dt.dayofweek
df['month'] = df['Date'].dt.month
df.drop(columns=['Date'],inplace=True)17

In [18]:
df.iloc[10,:]

ID                                           12735680
Case Number                                  JF286563
Block                               085XX S PEORIA ST
IUCR                                             041A
Primary Type                                  BATTERY
Description                      AGGRAVATED - HANDGUN
Location Description          SCHOOL - PUBLIC GROUNDS
Arrest                                          False
Domestic                                        False
Beat                                              613
District                                            6
Ward                                             17.0
Community Area                                     71
FBI Code                                          04B
X Coordinate                                1171804.0
Y Coordinate                                1848175.0
Year                                             2022
Updated On                            9/15/2023 15:41
Latitude                                    41.738845
Longitude                                  -87.646126
Location                (41.738844769, -87.646126146)
hour                                                0
day_of_week                                         0
month                                               6
Name: 10, dtype: object